* {
	font-family: 'Montserrat', sans-serif;
}

body {
	/*overflow: hidden;*/
	transition: 2s all ease;
}

.bg-red {
	background-color: #420505 !important;
}

.bg-white {
	background-color: white !important;	
}

#landing {
	height: calc(100vh - 18px);
}

#about, #projects, #contact {
	height: 100vh;
}


#about {
	background-color: #000000c2 !important;
}
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}